{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <form action="{% url 'search' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="searchbox" class="searchlabel2">Enter the Item to be Searched</label>
            <input type="text" class="form-control searchbox2" id="searchbox" name="search" placeholder="Search Item" required>
        </div>
        <button type="submit" class="btn btn-primary submit2">Submit</button>
    </form>
    {% if search_results %}
    <div class="row" style="justify-content: center;">
        {% for result in search_results %}
        <div class="card col-lg-2 col-sm-12 col-md-6" style="width: 16rem;">
            {% if result.0 %}
            <img class="card-img-top" src="{{result.0.0}}" alt="Card image cap">
            {% else %}
            <img class="card-img-top" src="{% static 'logo.png' %}" alt="Card image cap">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{result.2}}</h5>
                <p class="card-text">
                    <p>{{result.3}}</p>
                    <p><strong>Posted on:</strong> {{result.4}}</p>
                </p>
                <a href="{{result.1}}" class="btn btn-primary">For more details:</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="empty">
        <img src="{% static 'sademoji.png' %}" alt="Sad Emoji">
        <p>Unfortunately, the product you are looking for cannot be found!</p>
    </div>
    {% endif %}
</div>
{% endblock content %}